<div *ngIf="entidad == 'bird'">
    <form action="">
        <div>
            <label for="">Nombre</label>
            <br>
            <input name="name" type="text" [(ngModel)]="birdName">
        </div>
        <div>
            <label for="">Nombre cientifico</label>
            <br>
            <input name="cientifico" type="text" [(ngModel)]="cientificName">
        </div>
        <div>
            <button (click)="guardarBird()">Guardar</button>
        </div>
    </form>

</div>

<div *ngIf="entidad == 'country'">
    <form action="">
        <div>
            <label for="">Nombre País</label>
            <br>
            <input name="name" type="text" [(ngModel)]="countryName">
        </div>
        
        <div>
            <button (click)="guardarCountry()">Guardar</button>
        </div>
    </form>

</div>

<div *ngIf="entidad == 'zona'">
    <form action="">
        <div>
            <label for="">Nombre Zona</label>
            <br>
            <input name="name" type="text" [(ngModel)]="zoneName">
        </div>
        
        <div>
            <button (click)="guardarZone()">Guardar</button>
        </div>
    </form>

</div>